<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">

<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sellerPanel/list">Order List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/menu">Admin Menu</a>
        </li>
    </ul>

</nav>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <meta charset="UTF-8">
    <title>Dodaj adres klienta</title>
</head>
<body>
<div class="container-sm">

    <h3>Wpisz dane</h3>
    <hr>
    <p class="h4 mb-4">Adres</p>
    <form action="#" th:action="@{/admin/client/address/save(clientId = ${clientId})}"
          th:object="${address}" method="POST">

        <!-- Add hidden form field to update -->
        <input type="hidden" th:field="*{id}"/>

        <input type="text" th:field="*{zipCode}" placeholder="Kod pocztowy"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{street}" placeholder="Ulica"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{houseNumber}" placeholder="Numer domu"
               class="form-control mb-4 col-4">

        <input type="text" th:field="*{apartmentNumber}" placeholder="Numer mieszkania"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>
    <hr>
    <a th:href="@{/admin/address/list}"> Wróć do listy </a>

</div>

</body>
</html>