<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sellerPanel/list">Order List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/menu">Admin Menu</a>
        </li>
    </ul>

</nav>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>edycja sprzedawcy</title>
</head>
<body>
<div class="container">
    <h3>EDYCJA SPRZEDAWCY</h3>
    <hr>

    <a th:href="@{/admin/seller/addForm}"
       class="btn btn-primary btn-sm mb-3">
        Dodaj sprzedawce
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nick</th>
            <th>Hasło</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempSeller : ${sellers}">

            <td th:text="${tempSeller.nickName}"/>
            <td th:text="${tempSeller.password}"/>

            <td>
                <a th:href="@{/admin/seller/showUpdateForm(sellerId = ${tempSeller.getId()})}"
                   class="btn btn-info btn-sm">
                    Aktualizuj
                </a>

                <a th:href="@{/admin/seller/delete(sellerId = ${tempSeller.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Czy na pewno usnąć?'))) return false">
                    Usuń
                </a>

            </td>

        </tr>

        </tbody>

    </table>

    <hr>
    <a th:href="@{/admin/menu}"> Wróć do menu </a>

</div>
</body>
</html>